.selector-for-some-widget {
  box-sizing: content-box;
}

body {
	//text-align: center;
}

h1 {
	padding-left: 50px;
	//text-align: center;
}
.bar a {	
	color: white;
	text-decoration: none;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 20px;
}
.bar a:hover {
	background-color: green;
	color: white;
}
.bar {
	background-color: black;
	//text-align: center;
}
.content {
	margin-left: 200px;
	margin-right: 200px;
}
p {
	//text-align: center;
}
